#
# Real dependencies
#
six
future

#
# Potentially optional dependencies
#
configparser

#
# Optional dependencies
#

PyYAML

#
# Development only
#
pytest
pytest-random-order
coverage
tox
bumpversion==0.5.3
