#
# Real dependencies
#
six
future
hookery

#
# Potentially optional dependencies
#
configparser

#
# Optional dependencies
#

PyYAML
click

#
# Development only
#
pytest
pytest-random-order
coverage
tox
bumpversion==0.5.3
