#
# Real dependencies
#
six==1.10.0
future==0.16.0
hookery<0.4.0

#
# Potentially optional dependencies
#
configparser==3.5.0

#
# Optional dependencies
#

PyYAML
click

#
# Development only
#
pytest
pytest-random-order
coverage
tox
bumpversion==0.5.3
